<nav>
  <img src="/images/mylogo.png" class="logo" alt="logo" />
  <ul id="sidemenu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/project">Project</a></li>
    <li>
      <a
        href="/images/Rashid_CV_US.pdf" download="RashidResume.pdf"
        >Resume</a
      >
    </li>
    <li><a href="/contact">Contact</a></li>
    <i class="fa-sharp fa-solid fa-xmark" onclick="closemenu()"></i>
  </ul>
  <i class="fa-solid fa-bars" onclick="openmenu()"></i>
</nav>
