<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headerlinks") %>
</head>
<body>
    <%- include("./partials/navbar") %>

    <div id="about">
        <div>
          <div class="container">
            <div class="row">
              <div class="about-col-1">
                <img src="images/rashid1.jpg" alt="" />
              </div>
              <div class="about-col-2">
                <h1 class="subtitle">About Me</h1>
                <p style="text-align: justify;">
                  Greetings, I am Rashid Imam, hailing from the culturally rich city of Gaya, India. Currently immersed in the dynamic world of technology, I contribute my skills and expertise at Tata Consultancy Services Limited in Pune. My academic journey has been sculpted at the prestigious National Institute of Technology, Patna, Bihar, where I successfully completed both my Bachelors and Masters degrees.
                    <br>
                  Fueling my professional endeavors is an unwavering passion for emerging technologies, with a particular fascination for the transformative realm of Gen AI. Beyond the realms of academia, I have taken on pivotal roles, serving as the Training and Placement Co-ordinator at NIT, Patna. Additionally, my enthusiasm for innovation and collaboration led me to assume the role of workshop co-ordinator at the Robotics Club, NIT Patna.
                    <br>
                  This confluence of academic rigor, professional dedication, and a fervent interest in cutting-edge technologies defines my journey and aspirations in the ever-evolving landscape of IT and innovation.   
                </p>
                <div class="tab-titles">
                  <p class="tab-links active-link" onclick="opentab('skills')">
                    Skills
                  </p>
                  <p class="tab-links" onclick="opentab('experience')">
                    Experience
                  </p>
                  <p class="tab-links" onclick="opentab('education')">
                    Education
                  </p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                  <ul>
                    <li><span>Programming/ Scripting
                      Languages</span><br />Python | C/C++ | SQL | Bash <br>HTML | CSS | JavaScript
                    </li>
                    <li><span>Libraries/Framework used</span><br />NumPy | Pandas | Matplotlib | Scikit-learn | Selenium | BeautifulSoup</li>
                    <li>
                      <span>Tools</span><br />GIT | MySQL | Jupyter Notebook | VS Code | Photoshop
                    </li>
                    <li>
                      <span>Platforms</span><br />Linux | Web | Windows | Arduino | AWS | GCP
                    </li>
                  </ul>
                </div>
                <div class="tab-contents" id="experience">
                  <ul>
                    <li>
                      <span>Tata Consultancy Services Limited</span
                      ><br />AI/ML Developer<br />(Sept 2023
                      - Present)
                    </li>
                    <li>
                      <span>MindGraph Technologies Pvt. Ltd.</span
                      ><br />Software Developer Intern<br />(Feb 2023
                      - May 2023)
                    </li>
                    <li>
                      <span>Training and Placement Co-ordinator</span
                      ><br />Training and Placement Cell, NIT Patna<br />(Apr 2022
                      - June 2023)
                    </li>
                    <li>
                      <span>Associate Robotics Trainer</span><br />(2 months Internship, Summer 2022) <br> CodeJee
                    </li>
                    <li>
                      <span>Workshop Co-ordinator</span><br />Robotics Club, NIT
                      Patna
                    </li>
                  </ul>
                </div>
                <div class="tab-contents" id="education">
                  <ul>
                    <li>
                      <span>Integrated MSc</span><br />National Institute of
                      Technology, Patna <br />(2018 -2023)
                    </li>
                    <li>
                      <span>Intermediate</span><br />Laloo Mandal College
                      <br />Gaya, Bihar
                    </li>
                    <li>
                      <span>Matriculation</span><br />Gyan Bharti Public School
                      <br />Gaya, Bihar
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- include("./partials/footer") %>
    <script src="/js/index.js"></script>
</body>
</html>
