<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headerlinks") %>
</head>
<body>
    <%- include("./partials/navbar") %>

    <div class="error_div">
        <img src="/images/error.png" alt="">
        <div>
            <a href="/" class="btn">Click here to Home</a>
        </div>
    </div>
    <%- include("./partials/footer") %>
    <script src="/js/index.js"></script>
</body>
</html>