<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headerlinks") %>
</head>
<body>
  <%- include("./partials/navbar") %>
    <div id="header">
        <div class="container home-container">
          <div class="home-page">
            <img src="/images/background.png" alt="">
            <div class="header-text">
              <p>Hello, my name is </p>
              <h1><span>Rashid</span> Imam <br />I'm from NIT, Patna</h1>
            </div>
          </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
    <script src="/js/index.js"></script>
</body>
</html>