* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background: #070707;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10%;
}
.logo {
  width: 200px;
  height: 70px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
  text-align: center;
}
nav ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background: #1abc9c;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.5s linear;
}
nav ul li a:hover::before {
  width: 100%;
  background-color: rgb(251, 13, 187);
}
.header-text {
  margin-top: 20%;
  font-size: 200%;
  white-space: nowrap;
}
.header-text h1 {
  font-size: 150%;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
  margin-right: 10px;
}

.home-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.home-page img {
  margin-left: auto;
  width: 40%;
}
/* ...........................abouttttt.............. */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.subtitle {
  font-size: 50px;
  font-weight: 400;
  font-family: "Lobster Two", cursive;
  color: #fff;
  margin-top: 20px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.2s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* ________Projecttttt....................................................................... */

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  display: block;
}
.work video {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  display: block;
}

/* ------------------------------- */

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  /* margin-top: 50px; */
}
.services-list div {
  /* background: #262626; */
  margin-top: 20px;
  padding: 5px 40px 5px 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background0.5s, transform 0.5s;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* ==========================contact============================================= */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  background: #ff004f;
  display: inline-block;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

nav .fa-sharp {
  display: none;
}
nav .fa-solid {
  display: none;
}
#copy {
  /* border: solid #ababab; */
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #262626;
  font-weight: 300;
}
#rashid {
  color: #0062ff;
}

#msg {
  color: #0062ff;
  display: block;
}

/* =======================================error page design================== */

.error_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_div img {
  width: 500px;
  height: 300px;
}

/* =======================================small screen handling============== */

@media screen and (max-width: 800px) {
  .home-page {
    flex-direction: column;
  }
  .header-text {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .about-col-1 img {
    width: 60%;
  }
  .about-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 675px) {
  .work img {
    height: unset;
  }
  .work video {
    height: unset;
  }

  .services-list div {
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-sharp {
    display: block;
    font-size: 25px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-sharp {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .home-container {
    margin: auto 0;
  }

  .home-page img {
    width: 80%;
  }
  .subtitle {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .error_div img {
    width: 90%;
    height: 80%;
  }

  #copy {
    padding: 20px;
  }
}


@media screen and (max-width: 320px) {
  .header-text{
    font-size: 4vw;
  }
  .header-text h1{
    font-size: 8vw;
  }

  .logo{
    width: 50vw;
  }

}
